html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-header {
    position: absolute;
    background-color: mintcream;
    width: 100%;
}
.name {
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
    font-weight: 700;
}
.nav-links {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    font-size: 1em;
    font-weight: 400;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
.About-Me, .Contacts, .ProjNav {
    font-weight: 500;
}
.nav-links li {
    display: inline-block;
    text-align: right;
    margin: 0 10px;
}
.nav-links li a {
    text-decoration: none;
    font-family: 'Montserrat';
    color: black;
    padding-right: 5px 5px;
    position: relative;
    letter-spacing: 1px;
}
.nav-links li a::after {
    content: '';
    background: linear-gradient(to bottom right, #6889FF, #C668FF);
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: width 0.5s ease-in-out;
}
.nav-links li a:hover::after {
    width: 100%;
}
.burger-links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.burger-name {
    display: none;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 5px;
}
/*--------------main-section-------------*/
.main {
    display: flex;
    position: absolute;
    height: 325%;
    top: 50px;
    width: 100%;
    background: linear-gradient(to bottom right, #6889FF, #C668FF);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
#smile-icon {
    position: absolute;
    font-size: 15em; 
    left: 43%; 
    top: 20px;
    width: 150px;
    height: 200px;
}
#intro {
    position: absolute;
    left: 46%;
    top: 275px;
    font-size: 22.5px;
    color: mintcream;
    text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
}
#line-break {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 305px;
    border-color: black;
}
.info-body {
    position: absolute;
    height: 20%;
    left: 25%;
    top: 350px;
    font-size: 18px;
}
#Service {
    position: absolute;
    top: 600px;
    left: 46%;
    color: mintcream;
    text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
}
.Responsive, .Efficiency, .Clean {
    background-color: mintcream;
    position: relative;
    color:black;
    padding: 2rem;
    width: 100%;
    top: 650px;
    left: 0.1%;
    height: 15em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#laptop-icon {
    color: red;
    text-shadow: 0 0 5px #e22847;
}
#gears-icon {
    color: green;
    text-shadow: 0 0 5px #00ff43;
}
#code-bar {
    color: navy;
    text-shadow: 0 0 5px #6889FF;
}
#Proj {
    position: absolute;
    top: 1050px;
    left: 46%;
    color: mintcream;
    text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    overflow-y: hidden;
}
.proj-cards {
    max-width: 200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Snake_Game, .Evil_Wordle {
    background-color: mintcream;
    position: relative;
    color:black;
    padding: 2rem;
    width: 85%;
    top: 1300px;
    left: 6%;
    height: 15em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}
#snake_game_pic {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 65em;
    left: 20%;
    overflow-y: hidden;
}
#devil_emoji {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 65em;
    right: 20%;
    overflow-y: hidden;
}
.contact-me-main {
    font-weight: 300;
    height: 100%;
}
.contact-info {
    position: absolute;
    top: 105em;
    left: 35%;
    /*overflow-y: hidden;*/
}
.contact-body {
    overflow: hidden;
}
.contact-intro {
    color: mintcream;
    text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
}
/*--------------dark-mode-section-----------------------*/
.theme-switcher {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #302d2d;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#light_darkBtn:hover {
    background-color: #555;
}
.dark-mode .nav-header {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .name {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .About-Me {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .Contacts {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .ProjNav {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .burger-nav {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .burger-name {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode #bars {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .burger-links {
    display: none;
    position: absolute;
    background: linear-gradient(#403F44, #1E1B32);
    top: 50px;
    right: 0;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dark-mode .burger-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0 0 5px #dfe1e6;
    display: block;
}
.dark-mode .main {
    background: #121212;
}
.dark-mode #smile-icon {
    color:white;
}
.dark-mode .about-me-main {
    background: black;
    color: white;
}
.dark-mode #line-break {
    border-color: white;
}
.dark-mode .info-body {
    color: rgb(126, 114, 114);
}
.dark-mode #skill-box1, .dark-mode #skill-box2, .dark-mode #skill-box3 {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .Res-Text {
    text-shadow: 0 0 2px #d41132;
}
.dark-mode .Eff-Text {
    text-shadow: 0 0 2px #0ab939;
}
.dark-mode .Clean-Text {
    text-shadow: 0 0 2px #550dc9;
}
.dark-mode .Snake-Text {
    text-shadow: 0 0 2px #0dc981;
}
.dark-mode .Wordle-Text {
    text-shadow: 0 0 2px #8b0cbd;
}
.dark-mode .contact-me-main {
    background: black;
    color: white;
}
.dark-mode .Responsive {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .Efficiency {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .Clean {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .Snake_Game {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode #Snake_Game_Project, .dark-mode #Evil_Wordle_Project {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .Evil_Wordle {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode .contact-body {
    color: rgb(126, 114, 114);
}
.dark-mode .bot {
    background: linear-gradient(#403F44, #1E1B32);
}
.dark-mode #social-quicklinks {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode #QL {
    text-shadow: 0 0 5px #dfe1e6;
}
.dark-mode .footer-copyright {
    text-shadow: 0 0 5px #dfe1e6;
}
/*----------------footer-section----------------*/
.bot {
    position: absolute;
    height: 30%;
    width: 100%;
    top: 325%;
    justify-content: space-between;
    background-color: mintcream;
    box-shadow: 0 0 0px 0px, 0 -3px 3px rgba(0, 0, 0, 0.3);
}
.social-media-links {
    position: absolute;
    left: 10%;
    top: 20px;
}
#social-quicklinks {
    font-family: 'Montserrat';
    font-weight: 500;
    color: black;
    position: relative;
    right: -10%;
    text-shadow: 0 0 1.5px black;
    overflow-x: hidden;
}
#linkedin-id {
    position: absolute;
    font-size: 36px;
    right: 65px;
    top: 70px;
    text-shadow: 0 0 5px #4567e6;
}
#github-id {
    position: absolute;
    font-size: 36px;
    right: 30px;
    top: 70px;
    color: rgb(148, 27, 148);
    text-shadow: 0 0 5px #C668FF;
}
.footer-copyright {
    display: inline-flex;
    position: absolute;
    left: 40%;
    top: 50px;
    overflow-x: hidden;
}
.footer-nav {
    display: flex;
    align-items: center;
    padding: 15px;
}
.footer-links-container {
    position: absolute;
    left: 80%;
    top: 20px;
}
#QL {
    font-family: 'Montserrat';
    font-weight: 500;
    color: black;
    position: relative;
    left: -20px;
    text-shadow: 0 0 1.5px black;
}
.footer-links li {
    display: flex;
    text-align: center;
    margin-top: 10px;
}
.footer-links li a {
    text-decoration: none;
    font-family: 'Montserrat';
    color: black;
    padding-right: 10px 10px;
    position: relative;
}
/*---------media-queries-section-----------*/
@media screen and (min-width: 1450px) and
(max-width: 1700px) {
    #smile-icon {
        left: 43.5%;
    }
    #snake_game_pic {
        left: 25%;
    }
    #devil_emoji {
        right: 25%;
    }
}
@media screen and (min-width: 1701px) and
(max-width: 1999px) {
    #smile-icon {
        left: 43.5%;
    }
    #snake_game_pic {
        left: 30%;
    }
    #devil_emoji {
        right: 30%;
    }
    .contact-info {
        left: 43%;
    }
    .footer-copyright {
        left: 45%;
    }
}
@media screen and (min-width: 1321px) and
(max-width: 1999px) and (min-height: 750px) and (max-height: 850px) {
    .main {
        height: 245%;
    }
    .bot {
        top: 245%;
    }
}
@media screen and (min-width: 1321px) and
(max-width: 1999px) and (min-height: 851px) and (max-height: 950px) {
    .main {
        height: 215%;
    }
    .bot {
        top: 215%;
    }
}
@media screen and (min-width: 1321px) and
(max-width: 1999px) and (min-height: 951px) and (max-height: 1050px) {
    .main {
        height: 195%;
    }
    .bot {
        top: 195%;
    }
}
@media screen and (min-width: 1000px)
and (max-width: 1300px) and (min-height: 630px) and (max-height: 1300px) {
    .main {
        height: 270%;
    }
    #smile-icon {
        left: 37.5%;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 900px;
    }
    #Proj {
        top: 1250px;
        left: 46%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    .Snake_Game, .Evil_Wordle {
        top: 650%;
    }
    #snake_game_pic {
        top: 1300px;
        left: 20%;
    }
    #devil_emoji {
        top: 1300px;
        right: 20%;
    }
    .contact-intro {
        top: 1500px;
    }
    .contact-info {
        top: 1850px;
        left: 35%;
    }
    .contact-body {
        left: -5em;
        top: 1900px;
        width: 200%;
    }
    .bot {
        top: 270%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
}
@media screen and (min-width: 950px)
and (max-width: 1400px) and (min-height: 800px) and (max-height: 1050px) {
    .main {
        height: 270%;
    }
    #smile-icon {
        left: 40.5%;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 900px;
    }
    #Proj {
        top: 1250px;
        left: 46%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    .Snake_Game, .Evil_Wordle {
        top: 650%;
    }
    #snake_game_pic {
        top: 1300px;
        left: 20%;
    }
    #devil_emoji {
        top: 1300px;
        right: 20%;
    }
    .contact-intro {
        top: 1500px;
    }
    .contact-info {
        top: 1900px;
        left: 35%;
    }
    .contact-body {
        left: -5em;
        top: 1900px;
        width: 200%;
    }
    .bot {
        top: 270%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
}
@media screen and (min-width: 651px)
and (max-width: 950px) {
    .main {
        height: 350%;
    }
    #smile-icon {
        left: 40.5%;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 900px;
    }
    #Proj {
        top: 1250px;
        left: 46%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    .Snake_Game, .Evil_Wordle {
        top: 630%;
    }
    #snake_game_pic {
        top: 1300px;
        left: 20%;
    }
    #devil_emoji {
        top: 1300px;
        right: 20%;
    }
    .contact-intro {
        top: 1500px;
    }
    .contact-info {
        top: 1850px;
        left: 35%;
    }
    .contact-body {
        left: -5em;
        top: 1900px;
        width: 200%;
    }
    .bot {
        top: 350%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
}
@media screen and (min-width: 651px)
and (max-width: 950px) and (min-height: 400px) and (max-height: 550px) {
    .main {
        height: 400%;
    }
    .bot {
        top: 400%;
    }
}
@media screen and (min-width: 651px)
and (max-width: 950px) and (min-height: 1201px) and (max-height: 1300px) {
    .main {
        height: 170%;
    }
    .bot {
        top: 170%;
    }
    .info-body {
        left: 5%;
    }
}
@media screen and (min-width: 1000px)
and (max-width: 1100px) and (min-height: 1051px) and (max-height: 1400px) {
    .main {
        height: 150%;
    }
    .bot {
        top: 150%;
    }
}
@media screen and (min-width: 900px)
and (max-width: 1000px) and (min-height: 1051px) and (max-height: 1400px) {
    .main {
        height: 150%;
    }
    .bot {
        top: 150%;
    }
}
@media screen and (min-width: 651px)
and (max-width: 950px) and (min-height: 800px) and (max-height: 1050px) {
    .main {
        height: 200%;
    }
    #smile-icon {
        left: 37.5%;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 900px;
    }
    #Proj {
        top: 1250px;
        left: 46%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    .Snake_Game, .Evil_Wordle {
        top: 630%;
    }
    #snake_game_pic {
        top: 1300px;
        left: 20%;
    }
    #devil_emoji {
        top: 1300px;
        right: 20%;
    }
    .contact-intro {
        top: 1500px;
    }
    .contact-info {
        top: 1850px;
        left: 35%;
    }
    .contact-body {
        left: -5em;
        top: 1900px;
        width: 200%;
    }
    .bot {
        top: 200%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
}
@media screen and (min-width: 651px)
and (max-width: 950px) and (min-height: 1051px) and (max-height: 1200px) {
    .main {
        height: 200%;
    }
    #smile-icon {
        left: 40.5%;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 900px;
    }
    #Proj {
        top: 1250px;
        left: 46%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    .Snake_Game, .Evil_Wordle {
        top: 650%;
    }
    #snake_game_pic {
        top: 1300px;
        left: 20%;
    }
    #devil_emoji {
        top: 1300px;
        right: 20%;
    }
    .contact-intro {
        top: 1500px;
    }
    .contact-info {
        top: 1950px;
        left: 35%;
    }
    .contact-body {
        left: -5em;
        top: 1900px;
        width: 200%;
    }
    .bot {
        top: 200%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
    .info-body {
        left: 5%;
    }
}
@media screen and (min-width: 511px)
and (max-width: 650px) {
    .main {
        height: 300%;
    }
    #smile-icon {
        left: 35%;
    }
    #Service {
        top: 700px;
    }
    .cards { grid-template-columns: repeat(2, 1fr); }
    .Responsive, .Efficiency {
        top: 750px;
    }
    .Clean {
        position: absolute;
        width: 50%;
        right: 20%;
        left: 25%;
        top: 1000px;
    }
    .contact-info {
        position: absolute;
        top: 265%;
        left: 35%;
    }
    .contact-intro {
        position: relative;
        left: -2em;
    }
    .contact-body {
        left: -7em;
        top: 190%;
        width: 200%;
    }
    .bot {
        top: 300%;
        width: 100%;
    }
    .footer-copyright {
        left: 37.5%;
    }
    .social-media-links {
        left: 5%;
    }
}
@media screen and (min-width: 511px)
and (max-width: 650px)  and (min-height: 800px) and (max-height: 1000px) {
    .main {
        height: 250%;
    }
    #Proj {
        position: absolute;
        top: 1350px;
        left: 40%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 90em;
        left: 8%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 90em;
        left: 55%;
        overflow-y: hidden;
    }
    .Snake_Game {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 1650px;
        left: 6%;
        height: 22em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .Evil_Wordle {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 1650px;
        left: 6%;
        height: 22em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .contact-intro {
        position: initial;
        left: -2em;
    }
    .contact-info {
        top: 225%;
        left: 16%;
    }
    .bot {
        top: 250%;
    }
}
@media screen and (min-width: 511px)
and (max-width: 650px)  and (min-height: 700px) and (max-height: 799px) {
    .main {
        height: 325%;
    }
    #Proj {
        position: absolute;
        top: 1350px;
        left: 40%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 90em;
        left: 8%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 90em;
        left: 55%;
        overflow-y: hidden;
    }
    .Snake_Game {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 1650px;
        left: 6%;
        height: 22em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .Evil_Wordle {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 1650px;
        left: 6%;
        height: 22em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .contact-intro {
        position: initial;
        left: -2em;
    }
    .contact-info {
        top: 290%;
        left: 16%;
    }
    .bot {
        top: 325%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) {
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    #smile-icon {
        left: 30%;
    }
    #intro {
        left: 42.5%;
    }
    #Service {
        top: 34em;
        left: 40%;
    }
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .nav-links {
        display: inline-flex;
        width: 100%;
    }
    .nav-links li {
        position: relative;
        margin: 0 10px;
        right: 10px;
    }
    .main {
        height: 600%;
    }
    .cards { 
        grid-template-columns: repeat(1, 1fr); 
        gap: 0.25rem;
        column-gap: -1rem;
    }
    .Responsive {
        top: 850px; 
    }
    .Efficiency {
        position: absolute;
        top: 1150px; 
    }
    .Clean {
        position: absolute;
        top: 1450px; 
    }
    #Proj {
        position: absolute;
        top: 1850px;
        left: 38%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 120em;
        left: 21%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 152em;
        left: 21%;
        overflow-y: hidden;
    }
    .Snake_Game {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2150px;
        left: 6%;
        height: 15em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .Evil_Wordle {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2450px;
        left: 6%;
        height: 18em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .contact-info {
        position: absolute;
        top: 550%;
        left: 10%;
    }
    .contact-intro {
        left: -3em;
    }
    #Choices {
        display: none;
    }
    .contact-body {
        left: -2.5em;
        top: 225%;
        width: 200%;
    }
    .social-contacts {
        left: -2em;
    }
    .bot {
        top: 600%;
        width: 100%;
        height: 50%;
    }
    .social-media-links {
        left: 3%;
    }
    .footer-copyright {
        display: flex;
        left: 30%;
        top: 200px;
    }
    #QL {
        right: 20%;
    }
    .footer-links-container {
        left: 70%;
    }
}
@media screen and (min-width: 450px) and (max-width: 510px) {
    .burger-name {
        display: flex;
    }
    #smile-icon {
        left: 32%;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 120em;
        left: 27%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 152em;
        left: 27%;
        overflow-y: hidden;
    }
    .contact-info {
        left: 25%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 500px) and (max-height: 579px) {
    .main {
        height: 620%;
    }
    #Service {
        top: 36em;
    }
    .Responsive {
        top: 900px; 
    }
    .Efficiency {
        top: 1200px; 
    }
    .Clean {
        top: 1500px; 
    }
    .contact-info {
        top: 575%;
    }
    .bot {
        top: 620%;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 580px) and (max-height: 700px) {
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    #smile-icon {
        left: 30%;
    }
    #intro {
        left: 42.5%;
    }
    #Service {
        top: 36em;
        left: 40%;
    }
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .nav-links {
        display: inline-flex;
        width: 100%;
    }
    .nav-links li {
        position: relative;
        margin: 0 10px;
        right: 10px;
    }
    .main {
        height: 500%;
    }
    .cards { 
        grid-template-columns: repeat(1, 1fr); 
        gap: 0.25rem;
        column-gap: -1rem;
    }
    .Responsive {
        top: 900px; 
    }
    .Efficiency {
        position: absolute;
        top: 1200px; 
    }
    .Clean {
        position: absolute;
        top: 1500px; 
    }
    #Proj {
        position: absolute;
        top: 1850px;
        left: 38%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 120em;
        left: 21%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 152em;
        left: 21%;
        overflow-y: hidden;
    }
    .Snake_Game {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2150px;
        left: 6%;
        height: 15em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .Evil_Wordle {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2450px;
        left: 6%;
        height: 18em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .contact-info {
        position: absolute;
        top: 470%;
        left: 20%;
    }
    .contact-intro {
        left: -3em;
    }
    #Choices {
        display: none;
    }
    .contact-body {
        left: -2.5em;
        top: 225%;
        width: 200%;
    }
    .social-contacts {
        left: -2em;
    }
    .bot {
        top: 500%;
        width: 100%;
        height: 50%;
    }
    .social-media-links {
        left: 3%;
    }
    .footer-copyright {
        left: 26%;
        top: 200px;
    }
    #QL {
        right: 20%;
    }
    .footer-links-container {
        left: 70%;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 901px) and (max-height: 950px) {
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    .main {
        height: 360%;
    }
    .contact-info {
        top: 330%;
    }
    .bot {
        top: 360%;
        height: 220px;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 821px) and (max-height: 855px) {
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    .main {
        height: 390%;
    }
    .contact-info {
        top: 365%;
    }
    .bot {
        top: 390%;
        height: 220px;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 856px) and (max-height: 900px) {
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    .main {
        height: 380%;
    }
    .contact-info {
        top: 350%;
    }
    .bot {
        top: 380%;
        height: 220px;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 780px) and (max-height: 820px) {
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    .main {
        height: 420%;
    }
    .contact-info {
        top: 390%;
    }
    .bot {
        top: 420%;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 300px)
and (max-width: 510px) and (min-height: 700px) and (max-height: 779px) {
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    .main {
        height: 450%;
    }
    .contact-info {
        top: 420%;
    }
    .bot {
        top: 450%;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
@media screen and (min-width: 250px)
and (max-width: 299px) {
    #smile-icon {
        left: 24%;
    }
    .burger-nav {
        position: fixed;
        display: inline-block;
        height: 50px;
        top: initial;
        z-index: 1;
        width: 100%;
        background-color: mintcream;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    }
    #bars {
        font-size: 32px;
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .burger-links {
        display: none;
        position: absolute;
        background-color: mintcream;
        top: 50px;
        right: 0;
        font-size: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .burger-links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .burger-name {
        display: flex;
    }
    .show {
        display:block;
    }
    #intro {
        left: 42.5%;
    }
    #Service {
        top: 36em;
        left: 37%;
    }
    .nav-header {
        position: fixed;
        display: none;
        z-index: 100;
    }
    .nav-links {
        display: inline-flex;
        width: 100%;
    }
    .nav-links li {
        position: relative;
        margin: 0 10px;
        right: 10px;
    }
    .burger-name {
        position: absolute;
        top: 10px;
        left: 5px;
    }
    .main {
        height: 540%;
    }
    .cards { 
        grid-template-columns: repeat(1, 1fr); 
        gap: 0.25rem;
        column-gap: -1rem;
    }
    .Responsive {
        top: 900px; 
    }
    .Efficiency {
        position: absolute;
        top: 1200px; 
    }
    .Clean {
        position: absolute;
        top: 1500px; 
    }
    #Proj {
        position: absolute;
        top: 1850px;
        left: 35%;
        color: mintcream;
        text-shadow: 1px 1px 1px black, 0 0 10px aquamarine, 0 0 5px lightblue;
    }
    #snake_game_pic {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 120em;
        left: 16%;
        overflow-y: hidden;
    }
    #devil_emoji {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 152em;
        left: 16%;
        overflow-y: hidden;
    }
    .Snake_Game {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2150px;
        left: 6%;
        height: 15em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .Evil_Wordle {
        background-color: mintcream;
        position: relative;
        color:black;
        padding: 2rem;
        width: 85%;
        top: 2450px;
        left: 6%;
        height: 20em;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    }
    .contact-info {
        position: absolute;
        top: 480%;
        left: 15%;
    }
    .contact-intro {
        left: -3em;
    }
    #Choices {
        display: none;
    }
    .contact-body {
        left: -2.5em;
        top: 225%;
        width: 200%;
    }
    .social-contacts {
        left: -2em;
    }
    .bot {
        top: 540%;
        width: 100%;
        height: 50%;
    }
    .social-media-links {
        left: 3%;
    }
    .footer-copyright {
        display: flex;
        left: 20%;
        top: 200px;
    }
    #QL {
        right: 20%;
        left: 2px;
    }
    .footer-links-container {
        left: 70%;
    }
    .info-body {
        text-align: center;
        left: 5%;
    }
}
